
[Unit]
Description=Discord Bot
After=network.target

[Service]
User=discord
Group=www-data
WorkingDirectory=/home/discord/NotesCreatorBot
Environment="PATH=/home/discord/NotesCreatorBot"
ExecStart=/usr/bin/python3 NotesCreatorBot.py

[Install]
WantedBy=multi-user.target


